@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cheesarella_gray: #303030;
  --cheesarella_white: white;
  --cheesarella_red: #7c3aed;
  --cheesarella_red_dark: #5b21b6;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed;
  color: #9d9d9d;
  color: var(--cheesarella_white);
}
